{% extends 'shop/basic.html'%}
{% block title %} Sign in{% endblock %}
{% block css %}
<style>
  .main1{
    background-color: black;
    height: 100%;
    width: 50%;
    border: 1px solid black;
    float: left;
  }
</style>
{% endblock %}
{% block body%}
{% load static%}
<div class="container main1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam nemo minus impedit minima. Recusandae culpa maxime fugiat itaque enim. Aspernatur a, vel quam laboriosam doloribus ratione nesciunt explicabo provident voluptatum.</div>

{% endblock%}

{% block js%}
<script>

</script>
{%endblock%}