<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="tbResultChange" style="overflow: auto; padding: 20px 20px 20px 0;"><div class="row"><div class="info">
        <div style="display: flex;max-height:2rem;">
            <div style="width: calc(100% * 1 / 6.001);"><div class="first-line" style="height: 100%;"></div></div>
            <div class="time " style="width: calc(100% * 5 / 6.001)">
              2021-06-07 18:10:18
            </div>
        </div>
        <div style="display: flex;position: relative">
            <div style="position: absolute;width: calc(100% * 1 / 6.001);top:0;text-align: center">
              <img src="//s.trackingmore.com/admin/image/delivered.png" alt="" style="width: 30px;">
            </div>
            <div style="width: calc(100% * 1 / 6.001);display: flex;"><div class="last-line"></div></div>
            <div class="event " style="width: calc(100% * 5 / 6.001)">
            Delivered 
            </div>
        </div>
      </div></div><div class="row"><div class="info">
        <div style="display: flex;max-height:2rem;">
            <div style="width: calc(100% * 1 / 6.001);"><div class="first-line" style="height: 100%;"></div></div>
            <div class="time " style="width: calc(100% * 5 / 6.001)">
              2021-06-02 16:10:23
            </div>
        </div>
        <div style="display: flex;position: relative">
            <div style="position: absolute;width: calc(100% * 1 / 6.001);top:0;text-align: center">
              <img src="//s.trackingmore.com/admin/image/none.svg" alt="" style="width: 30px;">
            </div>
            <div style="width: calc(100% * 1 / 6.001);display: flex;"><div class="last-line"></div></div>
            <div class="event " style="width: calc(100% * 5 / 6.001)">
            Delivery scheduled 
            </div>
        </div>
      </div></div><div class="row"><div class="info">
        <div style="display: flex;max-height:2rem;">
            <div style="width: calc(100% * 1 / 6.001);"><div class="first-line" style="height: 100%;"></div></div>
            <div class="time " style="width: calc(100% * 5 / 6.001)">
              2021-06-01 16:10:44
            </div>
        </div>
        <div style="display: flex;position: relative">
            <div style="position: absolute;width: calc(100% * 1 / 6.001);top:0;text-align: center">
              <img src="//s.trackingmore.com/admin/image/none.svg" alt="" style="width: 30px;">
            </div>
            <div style="width: calc(100% * 1 / 6.001);display: flex;"><div class="last-line"></div></div>
            <div class="event " style="width: calc(100% * 5 / 6.001)">
            Arrived at Delivery Facility 
            </div>
        </div>
      </div></div><div class="row"><div class="info">
        <div style="display: flex;max-height:2rem;">
            <div style="width: calc(100% * 1 / 6.001);"><div class="first-line" style="height: 100%;"></div></div>
            <div class="time " style="width: calc(100% * 5 / 6.001)">
              2021-05-29 15:00:00
            </div>
        </div>
        <div style="display: flex;position: relative">
            <div style="position: absolute;width: calc(100% * 1 / 6.001);top:0;text-align: center">
              <img src="//s.trackingmore.com/admin/image/none.svg" alt="" style="width: 30px;">
            </div>
            <div style="width: calc(100% * 1 / 6.001);display: flex;"><div class="last-line"></div></div>
            <div class="event " style="width: calc(100% * 5 / 6.001)">
            Item arrived at airport 
            </div>
        </div>
      </div></div><div class="row"><div class="info">
        <div style="display: flex;max-height:2rem;">
            <div style="width: calc(100% * 1 / 6.001);"><div class="first-line" style="height: 100%;"></div></div>
            <div class="time " style="width: calc(100% * 5 / 6.001)">
              2021-05-29 00:00:00
            </div>
        </div>
        <div style="display: flex;position: relative">
            <div style="position: absolute;width: calc(100% * 1 / 6.001);top:0;text-align: center">
              <img src="//s.trackingmore.com/admin/image/none.svg" alt="" style="width: 30px;">
            </div>
            <div style="width: calc(100% * 1 / 6.001);display: flex;"><div class="last-line"></div></div>
            <div class="event " style="width: calc(100% * 5 / 6.001)">
            Released by customs 
            </div>
        </div>
      </div></div><div class="row"><div class="info">
        <div style="display: flex;max-height:2rem;">
            <div style="width: calc(100% * 1 / 6.001);"><div class="first-line" style="height: 100%;"></div></div>
            <div class="time " style="width: calc(100% * 5 / 6.001)">
              2021-05-26 00:00:00
            </div>
        </div>
        <div style="display: flex;position: relative">
            <div style="position: absolute;width: calc(100% * 1 / 6.001);top:0;text-align: center">
              <img src="//s.trackingmore.com/admin/image/none.svg" alt="" style="width: 30px;">
            </div>
            <div style="width: calc(100% * 1 / 6.001);display: flex;"><div class="last-line"></div></div>
            <div class="event " style="width: calc(100% * 5 / 6.001)">
            Item depart from original country 
            </div>
        </div>
      </div></div><div class="row"><div class="info">
        <div style="display: flex;max-height:2rem;">
            <div style="width: calc(100% * 1 / 6.001);"><div class="first-line" style="height: 100%;"></div></div>
            <div class="time " style="width: calc(100% * 5 / 6.001)">
              2021-05-21 00:00:00
            </div>
        </div>
        <div style="display: flex;position: relative">
            <div style="position: absolute;width: calc(100% * 1 / 6.001);top:0;text-align: center">
              <img src="//s.trackingmore.com/admin/image/none.svg" alt="" style="width: 30px;">
            </div>
            <div style="width: calc(100% * 1 / 6.001);display: flex;"><div class="last-line"></div></div>
            <div class="event " style="width: calc(100% * 5 / 6.001)">
            Customs Clearance 
            </div>
        </div>
      </div></div><div class="row"><div class="info">
        <div style="display: flex;max-height:2rem;">
            <div style="width: calc(100% * 1 / 6.001);"><div class="first-line" style="height: 100%;"></div></div>
            <div class="time " style="width: calc(100% * 5 / 6.001)">
              2021-05-20 15:44:59
            </div>
        </div>
        <div style="display: flex;position: relative">
            <div style="position: absolute;width: calc(100% * 1 / 6.001);top:0;text-align: center">
              <img src="//s.trackingmore.com/admin/image/none.svg" alt="" style="width: 30px;">
            </div>
            <div style="width: calc(100% * 1 / 6.001);display: flex;"><div class="last-line"></div></div>
            <div class="event " style="width: calc(100% * 5 / 6.001)">
            Item outbound 
            </div>
        </div>
      </div></div><div class="row"><div class="info">
        <div style="display: flex;max-height:2rem;">
            <div style="width: calc(100% * 1 / 6.001);"><div class="first-line" style="height: 100%;"></div></div>
            <div class="time " style="width: calc(100% * 5 / 6.001)">
              2021-05-20 15:00:10
            </div>
        </div>
        <div style="display: flex;position: relative">
            <div style="position: absolute;width: calc(100% * 1 / 6.001);top:0;text-align: center">
              <img src="//s.trackingmore.com/admin/image/transit.png" alt="" style="width: 30px;">
            </div>
            <div style="width: calc(100% * 1 / 6.001);display: flex;"><div class="last-line"></div></div>
            <div class="event " style="width: calc(100% * 5 / 6.001)">
            Item inbound success 
            </div>
        </div>
      </div></div></div>
    
</body>
</html> -->



<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

  <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" id="mymodal">
  cart -->
<!-- </button> -->

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Cart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="mymodal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span id="mymodalbody"></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
        <button onclick="fun()"></button> -->
      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->
<!-- </div> -->
  <!-- <script>
    document.getElementById('mymodalbody').innerHTML = '<h1>hello</h1>'
    $('#myModal').modal('show')
    function fun(){
      document.write('hello Pakistan')
    }
  </script> -->
</body>
</html>